*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
}
/*inizio header*/
.titolo{
    color: rgb(228, 20, 100);
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}
/*fine header*/
/*inizio main*/
.testo{
    text-align: center;
    font-weight: lighter;
    margin: 50px auto;
}
.contenitore{
    margin: 0 auto;
    max-width: 1170px;
}
.riga{
    width: 100%;
    background-color: yellow;
}
.contenuto-colonna{
    width: calc(100/3 - 20px);
    height: 150px;
    background-color: blue;
    float: left;
    margin: 10px;
}
/*fine main*/