*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
}
/*inizio header*/
.titolo{
    color: rgb(228, 20, 100);
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}
/*fine header*/
/*inizio main*/
.testo{
    text-align: center;
    font-weight: lighter;
    margin: 50px auto;
}
.contenitore{
    margin: 0 auto;
    max-width: 1170px;
}
.riga{
    width: 100%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.colonna{
    width: calc((100% - 192px) / 3);
    float: left;
    margin: 32px;
}
.contenuto-colonna{
    background-color: black;
    color: white;
    width: 100%;
    box-shadow: 0 0 10px black;
}
.testo-carta{
    padding: 10px;
    float: right;
    width: calc(100% - 125px);
}
.contenuto-colonna::after{
    content: "";
    display: table;
    clear: both;
}
img{
    float: left;
    width: 125px;
}
h2, .lavoro, a{
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: rgb(34, 192, 255);
}

/*fine main*/